{% extends "base.html" %}
{% load staticfiles %}
{% load scenario_tags %}
{% block extrahead %}
    <script type="text/javascript" src="{% static 'js/jquery.fancybox-1.3.4.pack.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox-1.3.4.css'%}" type="text/css" media="screen" />
    <script type="text/javascript">
    $(document).ready(function() {
	    $(".iframe").fancybox({
               'width'         : '75%',
               'height'        : '85%',
               'autoScale'     : true,
               'transitionIn'  : 'none',
               'transitionOut' : 'none',
               'type'          : 'iframe'
        });
    });

    $(function(ready){

      $('#id_actions').change(function() {
        $('#actform').submit();
      });

      var option = $("input[type='radio']");
      var submitButt = $("#id_submit_add");
      submitButt.prop('disabled', true);
      option.click(function() {
      if( option.filter(':checked').length == 0){
          submitButt.prop('disabled', true);
        // None checked
      } else {
      // If you need to use the result you can do so without
      // another (costly) jQuery selector call:
          submitButt.prop('disabled', false);
      }
      });
    });

     $(function() {
                $("[name=toggler]").click(function(){
                    $('.toHide').hide();
                    $("#blk-"+$(this).val()).show('slow');
                    $("#id_resource"+$(this).val()).prop('required', true);
                });
            });
    </script>

    {% if oneaction == 1 %}

        <script type="text/javascript">

        jQuery(document).ready(function() {
            $('#id_actions option[value=""]').remove();
            if ( {{ stop }} == 0 ) {
                $('#actform').submit();
            }
        });
        </script>
    {% endif %}

{% endblock %}
{% block content %}
           {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            <form id="actform" method="POST">
                <fieldset>
                    <legend>(Step 5/5) - Attachment & Visualization management</legend>
                </fieldset>
                {% csrf_token %}
                <label><strong>Action</strong></label>
                {{ action_form.actions }}
            </form>

            {% if request.POST %}
                <form method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="actions" value="{{ action.pk }}">
                    <fieldset>
                        {% csrf_token %}
                        <label><strong>Description</strong></label>
                        {{ form.description }}

                        <p>
                        <label class="checkbox inline"><input id="rdb1" type="radio" name="toggler" value="1" /> Local File </label>
                        <label class="checkbox inline"><input id="rdb2" type="radio" name="toggler" value="2" /> Remote File </label>
                        <label class="checkbox inline"><input id="rdb3" type="radio" name="toggler" value="3" /> WMS Resource </label>
                        </p>

                        <div id="blk-1" class="toHide" style="display:none">
                            <label><strong>Local File</strong></label>
                            <input id="id_resource1" name="resource" type="file" />
                        </div>
                        <div id="blk-2" class="toHide" style="display:none">
                            <label><strong>Remote File</strong></label>
                            <input id="id_resource2" name="resource2" type="text" />
                        </div>
                        <div id="blk-3" class="toHide" style="display:none">
                            <label><strong>WMS Resource</strong></label>
                            <input id="id_resource3" name="resource3" type="text" />
                        </div>

                    </fieldset>
                    <div class="form-actions">
                        <input type="submit" class="btn btn-info" value="Save" name="save_vis" id="id_submit_add">
                    </div>
                </form>
                <table class="table table-striped table-bordered" id="scenarios" >
                <caption>Files attached to {{ action.name }} action</caption>
                    <thead>
                        <tr>
                            <th style="width: 3%">#</th>
                            <th style="width: 36%">Description</th>
                            <th style="width: 8%">Type</th>
                            <th style="width: 50%">Resource</th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for file in visualizations %}
                            <tr>
                                <td>{{ file.pk }}</td>
                                <td>{{ file.description|capfirst|truncatechars:50 }}</td>
                                <td>{{ file.type }}</td>
                                <td>
                                    {% if file.options == 'local' %}
                                    <a href="{{ MEDIA_URL }}visualization/{{ file.resource }}" type="application/octet-stream" class="iframe">
                                        {{ file.resource }}
                                    </a>
                                    {% else %}
                                    <a href="{{ file.resource }}" type="application/octet-stream" class="iframe">
                                        {{ file.resource }}
                                    </a>
                                    {% endif %}

                                </td>
                                <td>
                                    <img src="{% static 'img/delete.png' %}">
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            {% endif %}
            <div class="form-actions">
                <a href="{% url 'scenario.views.scenario_list' %}"><button class="btn btn-primary pull-right">End</button></a>
            </div>
{% endblock %}