.jites-empty-area .x-mask {
    background-color: #ffffff !important;
    background-image: url("/static/jites/resources/images/empty_area_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}
.x-tab-disabled a {
    color: #808080 !important;
}
.x-tab-disabled a:hover {
    text-decoration:  none;
}
.x-tab-default a {
    color: #000000;

}