{% extends "base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'jites/resources/css/extjs_all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jites/resources/css/style.css' %}">

    <script type="text/javascript" src="{% static 'jites/extjs/ext-debug.js' %}"></script>
    <script type="text/javascript" src="{% static 'jites/app.js' %}"></script>
    <script src="{% static 'openlayer/js/open-layer-custom.js' %}"></script>
    <script src="{% static 'jites/resources/jit.js' %}"></script>

    <script type="text/javascript">
        displaymode = '{{ displaymode }}';
        username = '{{ username }}';
        event_id = '{{ event_id }}';
        {% if can_edit %}
            can_edit = true;
        {% else%}
            can_edit = false;
        {% endif %}
        {% if is_open %}
            is_open = true;
        {% else%}
            is_open = false;
        {% endif %}

        OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {
            defaultHandlerOptions: {
                'single': true,
                'double': false,
                'pixelTolerance': 0,
                'stopSingle': false,
                'stopDouble': false
            },
            initialize: function(options) {
                this.handlerOptions = OpenLayers.Util.extend(
                        {}, this.defaultHandlerOptions
                );
                OpenLayers.Control.prototype.initialize.apply(
                        this, arguments
                );
                this.handler = new OpenLayers.Handler.Click(
                        this, {
                            'click': this.fn
                        }, this.handlerOptions
                );
            }
        });
    </script>
{% endblock %}

{% block topnavbarleft %}
    <p class="navbar-text pull-left">
        {% if can_edit %}
            Connected to the system as <b>"modarator"</b>
        {% else%}
            Connected to the system as <b>"partecipant"</b>
        {% endif %}
    </p>
{% endblock %}

{% block loadingfnc %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
{% endblock %}

{% block push %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block footer %}
{% endblock %}