{% extends "base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'jites/resources/css/extjs_all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jites/resources/css/style.css' %}">

    <script type="text/javascript" src="{% static 'jites/extjs/ext-all-debug.js' %}"></script>
    <script type="text/javascript" src="{% static 'jites/app.js' %}"></script>
    <script src="{% static 'openlayer/js/open-layer-custom.js' %}"></script>
    <script src="{% static 'jites/resources/jit.js' %}"></script>

    <script type="text/javascript">
        displaymode = '{{ displaymode }}';
        username = '{{ username }}'
    </script>
{% endblock %}


{% block sidebar %}
{% endblock %}

{% block content %}
{% endblock %}

{% block push %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block footer %}
{% endblock %}