#REQUIREMENT FILE FOR TRANSAFEALP PROJECTS

#django 1.5.1
Django==1.5.1
#south migration software
South==0.7.6
#django-admin-tools
django-admin-tools==0.5.1
#django-debug-toolbar
django-debug-toolbar==0.9.4
#psycopg
psycopg2==2.5
#wsgiref
wsgiref==0.1.2
#plr-utils (print graph action status)
git+http://github.com/MPBAUnofficial/plrutils.git@master#egg=plrutils
#Python imaging library
PIL
